<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Sensors</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/static.css">
</head>
<body>


  <div id="glob">
    <div id="wrap01">
      <h1>Sensor Value</h1>
    </div>
    <div id="wrap-form">

      <div id="container-form">
	<form id="my_form">

	  <p class="redirect_form">Luminosity Sensor Value:</p>
	  <p class="redirect_form" id="sensor_value"></p>
	  
	</form>
      </div>
    </div>
  </div>



</body>
<script
  src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
  crossorigin="anonymous"></script>
  <script src="../static/script.js"></script>
</html>
